<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-airbase">
        <h:form id="CreateAirbaseFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="Customer" for="CreateAirbaseCustId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu styleClass="min-width-one" id="CreateAirbaseCustId" value="#{createAirbaseBean.approvedBaseStationsVO.customerAccount}">
                            <f:selectItem itemLabel="Select One" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createAirbaseBean.customerList}"/>
                            <p:ajax listener="#{createAirbaseBean.onCustomerChange()}" update="CreateAirbaseFormId"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="Site" for="CreateAirbaseSiteId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu styleClass="min-width-one" id="CreateAirbaseSiteId" value="#{createAirbaseBean.approvedBaseStationsVO.siteId}" converter="uuidConverter">
                            <f:selectItem itemLabel="Select One" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createAirbaseBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                            <p:ajax update="@this CreateAirbaseFormId:CreateAirbaseSaveId"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="MAC Address" for="CreateAirbaseMacId"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="CreateAirbaseMacId" value="#{createAirbaseBean.approvedBaseStationsVO.macAddress}" required="true"
                                     validatorMessage="Invalid MAC Address!" maxlength="255" styleClass="min-width-one">
                            <p:ajax update="@this CreateAirbaseFormId:CreateAirbaseSaveId"/>
                            <f:validateRegex pattern="^([a-fA-F0-9]{2}[:\\.-]?){5}[a-fA-F0-9]{2}$" />
                        </p:inputText>   
                        <p:message for="CreateAirbaseMacId"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            
            <div class="center-btn-div">
                <p:commandButton id="CreateAirbaseSaveId" value="Create" styleClass="left-btn" action="#{createAirbaseBean.createAirbase()}" update="CreateAirbaseFormId" disabled="#{createAirbaseBean.approvedBaseStationsVO.customerAccount eq null or createAirbaseBean.approvedBaseStationsVO.customerAccount.length() eq 0 or createAirbaseBean.approvedBaseStationsVO.siteId eq null or createAirbaseBean.approvedBaseStationsVO.macAddress eq null or createAirbaseBean.approvedBaseStationsVO.macAddress.length() eq 0}" />
                <p:commandButton type="button" value="Cancel" onclick="PF('defaultDlg').hide()"/>
            </div>
            
            <p:blockUI block="CreateAirbaseFormId" trigger="CreateAirbaseSaveId"/> 
        </h:form>
    </div>
</ui:composition>
