<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-alarm-details">

        <p:panel header="Current Settings" styleClass="panel-layout-one">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Customer Acc:" for="custAccId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="custAccId" value="#{devicesBean.selectedMistvo.customerAccount}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Ctime:" for="mistlxCtimeId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxCtimeId" value="#{devicesBean.selectedMistvo.mistlxCtime}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Site Name:" for="siteNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="siteNameId" value="#{devicesBean.selectedMistvo.siteName}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx CtimeMod:" for="mistlxCtimeModId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxCtimeModId" value="#{devicesBean.selectedMistvo.mistlxCtimeMod}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Base Station Name:" for="basestationHostNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="basestationHostNameId" value="#{devicesBean.selectedMistvo.baseStationHostName}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Dbg:" for="mistlxDbgId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxDbgId" value="#{devicesBean.selectedMistvo.mistlxDbg}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo DeviceId:" for="echoDeviceId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoDeviceId" value="#{devicesBean.selectedMistvo.echoDeviceId}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Delta:" for="mistlxDeltaId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxDeltaId" value="#{devicesBean.selectedMistvo.mistlxDelta}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="DeviceId:" for="deviceId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="deviceId" value="#{devicesBean.selectedMistvo.deviceId}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Failcnt:" for="mistlxFailcntId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxFailcntId" value="#{devicesBean.selectedMistvo.mistlxFailcnt}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Chan:" for="mistlxChanId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxChanId" value="#{devicesBean.selectedMistvo.mistlxChan}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Fpgaon:" for="mistlxFpgaonId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxFpgaonId" value="#{devicesBean.selectedMistvo.mistlxFpgaon}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Area Name:" for="areaNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="areaNameId" value="#{devicesBean.selectedMistvo.areaName}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Fsamp:" for="mistlxFsampId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxFsampId" value="#{devicesBean.selectedMistvo.mistlxFsamp}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Asset Name:" for="assetNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="assetNameId" value="#{devicesBean.selectedMistvo.assetName}" />
                    </p:column>
                     <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Length:" for="mistlxLengthId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxLengthId" value="#{devicesBean.selectedMistvo.mistlxLength}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Pointlocation Name:" for="pointLocationNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="pointLocationNameId" value="#{devicesBean.selectedMistvo.pointLocationName}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Mincnt:" for="mistlxMincntId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxMincntId" value="#{devicesBean.selectedMistvo.mistlxMincnt}" />
                    </p:column>
                </p:row>                                    
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Point Name:" for="pointNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="pointNameId" value="#{devicesBean.selectedMistvo.pointName}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Pcorr:" for="mistlxPcorrId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxPcorrId" value="#{devicesBean.selectedMistvo.mistlxPcorr}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Basestation Port:" for="pointNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="bsPortId" value="#{devicesBean.selectedMistvo.baseStationPort}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Rssi:" for="mistlxRssiId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxRssiId" value="#{devicesBean.selectedMistvo.mistlxRssi}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Battery:" for="mistlxBatteryId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxBatteryId" value="#{devicesBean.selectedMistvo.mistlxBattery}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Temp:" for="mistlxTempId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxTempId" value="#{devicesBean.selectedMistvo.mistlxTemp}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx Bleon:" for="mistlxBleonId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxBleonId" value="#{devicesBean.selectedMistvo.mistlxBleon}" />
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Mistlx TotalMin:" for="mistlxTotalMinId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="mistlxTotalMinId" value="#{devicesBean.selectedMistvo.mistlxTotalMin}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Last Sample:" for="lastSampleId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="lastSampleId" value="#{devicesBean.selectedMistvo.formatedLastSample}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </div>
</ui:composition>
