<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-download-new-airbase">
        <h:form id="downloadNewAirbaseFormId" >
            <p:outputLabel value="Download the new airbase properties?"/>
            <div class="center-btn-div">
                <p:commandButton value="Yes" type="submit" ajax="false" styleClass="left-btn" onclick="PF('defaultDlg').hide();">
                    <p:fileDownload value="#{createAirbaseBean.download(createAirbaseBean.approvedBaseStationsVO)}"/>
                </p:commandButton>
                <p:commandButton value="No" type="button" onclick="PF('defaultDlg').hide();" />
            </div>
        </h:form> 
    </div>
</ui:composition>
