<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-alarm-details">
        <p:panel header="Current Settings" styleClass="panel-layout-one">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Customer Acc:" for="custAccId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="custAccId" value="#{echobasesBean.selectedEchoDiagnosticsVO.customerAccount}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Site Name:" for="siteNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="siteNameId" value="#{echobasesBean.selectedEchoDiagnosticsVO.siteName}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Base Station Name:" for="basestationHostNameId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="basestationHostNameId" value="#{echobasesBean.selectedEchoDiagnosticsVO.baseStationHostName}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="DeviceId:" for="deviceId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="deviceId" value="#{echobasesBean.selectedEchoDiagnosticsVO.deviceId}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Fw:" for="echoFwId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoFwId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoFw}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Datasets:" for="echoDatasetsId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoDatasetsId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoDatasets}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo PowLevel:" for="echoPowLevelId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoPowLevelId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoPowLevel}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Powerfault:" for="echoPowerfaultId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoPowerfaultId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoPowerfault}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo RadioFail:" for="echoRadioFailId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoRadioFailId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoRadioFail}" />
                    </p:column>
                </p:row>                                    
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Reboot:" for="echoRebootId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoRebootId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoReboot}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Restart:" for="echoRestartId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoRestartId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoRestart}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Terr:" for="echoTerrId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoTerrId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoTerr}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Echo Backlog:" for="echoTerrId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="echoBacklogId" value="#{echobasesBean.selectedEchoDiagnosticsVO.echoBacklog}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Last Update:" for="lastUpdateId"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel id="lastUpdateId" value="#{echobasesBean.selectedEchoDiagnosticsVO.formatedLastUpdate}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </div>
</ui:composition>
