<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-logout">
        <h:form id="topbarLogoutFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="Are you sure you want to log out?" styleClass="block-label"/>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="topbarLogoutYesBtnId" value="Yes" action="#{logoutBean.doLogout()}" oncomplete="PF('defaultDlg').hide()" />
                <p:commandButton type="button" value="No" onclick="PF('defaultDlg').hide()"/>
            </div>
        </h:form>
    </div>
</ui:composition>
