
$fontSize:13px !default;
$borderRadius:2px !default;
$transitionDuration:.2s !default;
$uiBreakpointOne:845px !default;
$uiBreakpointTwo:697px !default;
$leftTreePanelDoubleExpandLimit:1279px !default;
$mobileBreakpoint:991px !default;
$phoneBreakpoint:576px !default;
$animationDuration:.2s !default;
$animationTimingFunction:cubic-bezier(.05,.74,.2,.99) !default;
$letterSpacing:normal !default;