//General
$fontFamily:'Poppins',Montserrat,Raleway,sans-serif !default;
$primaryColor:#003399 !default;
$primaryLightColor: #92CCFF !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#0061E3 !default;
$secondaryLightColor: scale-color($secondaryColor, $lightness: 60%) !default;
$secondaryDarkColor: scale-color($secondaryColor, $lightness: -10%) !default;
$secondaryDarkerColor: scale-color($secondaryColor, $lightness: -20%) !default;
$disclaimerTextColor:#ED0216;

//Other Colors
//Note: these color variables are only usable on this page
$tertiaryColor:#FAAA00;

//Top Bar
$topBarBGColor:#ffffff;
$topBarIconTextColor:$primaryColor;
$topBarIconBGColor:#ffffff;
$topBarIconTextHoverColor:$primaryLightColor;
$topBarIconBGHoverColor:#ffffff;
$topBarUserTextColor:$primaryColor;
$topBarTextColor:$topBarUserTextColor;
$topBarUserTextHoverColor:$primaryLightColor;
$topbarFilterBreakOne:1400px;
$topbarFilterBreakTwo:800px;
$topbarLogoBreak:640px;

//Main
$bodyBgColor:#f4f4f4 !default;
$textColor:#252529 !default;
$textSecondaryColor:#65686a !default;
$dividerColor: #ebedef !default;
$dataTableExpandDiv: #efefef !default;
$ajaxLoaderIconColor:$secondaryColor;

//Footer
$footerBgColor:$primaryTextColor;
$footerBorderColor:$primaryTextColor;

//Menus
$menuBgColor:#ffffff;
$menuBorderColor:#dee2e6;
$menuitemTextColor:$primaryColor;
$menuitemIconColor:$tertiaryColor;
$menuitemTextHoverColor:$primaryTextColor;
$menuitemIconHoverColor:$tertiaryColor;
$menuitemHoverBgColor:$primaryLightColor;
$menuitemSeparator:$primaryLightColor;

$activeMenuitemBarBgColor:$tertiaryColor;
$activeMenuitemBgColor:$primaryLightColor;
$activeMenuitemTextColor:$primaryTextColor;
$activeMenuitemIconColor:$tertiaryColor;

$slimMenuTooltipBgColor:$primaryColor;
$slimMenuTooltipTextColor:$primaryTextColor;

//Tree ContentMenu
$treeActiveBtnBgColor:$primaryColor;
$treeActiveBtnIconColor:$primaryTextColor;
$treeActiveBtnBgHoverColor:$primaryLightColor;
$treeActiveBtnIconHoverColor:$primaryTextColor;

$treeBgColor:$primaryTextColor;
$treeBorderColor:#ebebef;
$treeNodeTextColor:#666666;
$treeNodeTextHoverColor:$primaryTextColor;
$treeNodeBgHoverColor:$primaryLightColor;
$treeNodeTextFocusColor:$primaryTextColor;
$treeNodeBgFocusColor:$primaryDarkColor;

//Table Header
$tableHeadBgColor:$primaryLightColor;
$tableHeadTextColor:$primaryTextColor;
$tableHeadBorderColor:$primaryLightColor;
$tableColumnTitleBgColor:#ffffff !important;
$tableColumnTitleTextColor:$primaryColor;
$tableColumnTitleColumnBorder:1px solid $primaryColor !important;
$tableColumnTitleLeftColumnBorderRightBorder: none !important;
$tableColumnTitleCenterColumnBorderHorizontalBorder: none !important;
$tableColumnTitleRightColumnBorderLeftBorder: none !important;

//Links
$linksBgHoverColor:$primaryColor;
$linksTextHoverColor:$primaryTextColor;
$linksHighLightBgColor:$primaryLightColor;
$linksHighLightTextColor:$primaryTextColor;
$linksHighLightBgHoverColor:$primaryColor;
$linksHighLightTextHoverColor:$primaryTextColor;

//timeline
$alertBgColor:#FFA500;
$faultBgColor:#F03030;
$alertTextColor:$primaryTextColor;
$faultTextColor:$primaryTextColor;

//Highchart menu button
$highchartMenuBtnIconColor:$primaryColor;
$highchartMenuBtnIconHoverColor:$primaryLightColor;


@import '../../sass/layout/_layout';
