h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

mark {
  background: #FFF8E1;
  padding: .25rem .4rem;
  border-radius: 2px;
  font-family: monospace; }

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE; }

hr {
  border-top: solid #ebedef;
  border-width: 1px 0 0 0;
  margin: 1rem 0; }

p {
  margin: 0 0 1rem 0;
  line-height: 1.5; }
  p:last-child {
    margin-bottom: 0; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeinmask {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.layout-breadcrumb .top-layout-breadcrumb {
  border: none;
  border-top: 1px solid #ebebef;
  border-bottom: 1px solid #ebebef;
  border-radius: 0px; }
  .layout-breadcrumb .top-layout-breadcrumb .ui-breadcrumb-items li .ui-menuitem-link .ui-menuitem-icon {
    margin-right: 0.5em; }

html {
  height: 100%;
  font-size: 13px; }

body {
  font-family: "Poppins", Montserrat, Raleway, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #252529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f4f4f4; }

a {
  text-decoration: none;
  color: #003399; }

.layout-ajax-loader-icon {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  color: #65686a;
  z-index: 999; }

.layout-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  animation-fill-mode: forwards; }

.layout-wrapper .layout-topbar {
  height: 70px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 12px 20px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }
  .layout-wrapper .layout-topbar:after {
    content: "";
    display: table;
    clear: both; }
  .layout-wrapper .layout-topbar #topbarMenuChangeFormId {
    display: inline-block; }
    .layout-wrapper .layout-topbar #topbarMenuChangeFormId .layout-menu-button {
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .layout-wrapper .layout-topbar #topbarMenuChangeFormId .layout-menu-button i {
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        line-height: inherit;
        font-size: 30px; }
  .layout-wrapper .layout-topbar #topbarLogoFormId {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5em; }
    .layout-wrapper .layout-topbar #topbarLogoFormId .ui-commandlink {
      display: block;
      height: 45px; }
      .layout-wrapper .layout-topbar #topbarLogoFormId .ui-commandlink img {
        height: 45px; }
  .layout-wrapper .layout-topbar #topbarControlFormId {
    display: inline-block;
    float: right; }
    .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control {
      display: inline-block;
      width: fit-content;
      margin: 11px 0 0 5px; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control i {
        font-size: 2em; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] {
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        text-decoration: none;
        padding: 0 16px 0 0;
        margin: 0px;
        float: right; }
        .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] .layout-profile-userinfo {
          text-align: left;
          display: inline-block;
          margin: 5px 0 0 0;
          vertical-align: top; }
          .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] .layout-profile-userinfo .layout-profile-name {
            margin-top: 1px;
            font-size: 14px;
            display: block; }
          .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] .layout-profile-userinfo .layout-profile-role {
            font-size: 12px;
            margin-top: 2px;
            display: block; }
        .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] > i.fa {
          width: fit-content;
          margin: 11px 1px 0 5px; }
    .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel {
      position: fixed;
      background: #ffffff;
      top: 70px !important;
      left: unset !important;
      width: 181px;
      border-radius: 0;
      -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16); }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel .ui-overlaypanel-content {
        padding: 0; }
        .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel .ui-overlaypanel-content .ui-commandlink {
          display: block; }
          .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel .ui-overlaypanel-content .ui-commandlink i {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            margin-left: 15px; }
          .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel .ui-overlaypanel-content .ui-commandlink .ui-outputlabel {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            margin-left: 10px; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel[id$=":topbarAddMenuOverlayId"] {
        right: unset; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel[id$=":topbarProfileMenuOverlayId"] {
        right: 0; }
  .layout-wrapper .layout-topbar .layout-right-panel-button {
    float: right;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .layout-wrapper .layout-topbar .layout-right-panel-button i {
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      font-size: 1.5em;
      vertical-align: middle; }
.layout-wrapper.layout-topbar-color .layout-topbar {
  background-color: #ffffff !important; }
  .layout-wrapper.layout-topbar-color .layout-topbar .layout-topbar-icon {
    background-color: #ffffff !important;
    color: #003399 !important; }
    .layout-wrapper.layout-topbar-color .layout-topbar .layout-topbar-icon:hover {
      background-color: #ffffff !important;
      color: #92CCFF !important; }
  .layout-wrapper.layout-topbar-color .layout-topbar .layout-control {
    color: #003399 !important; }
    .layout-wrapper.layout-topbar-color .layout-topbar .layout-control:hover {
      color: #92CCFF !important; }
  .layout-wrapper.layout-topbar-color .layout-topbar .user-profile .layout-profile-name, .layout-wrapper.layout-topbar-color .layout-topbar .user-profile .layout-profile-role, .layout-wrapper.layout-topbar-color .layout-topbar .user-profile .fa {
    color: #003399 !important; }
  .layout-wrapper.layout-topbar-color .layout-topbar .user-profile a:hover .layout-profile-name, .layout-wrapper.layout-topbar-color .layout-topbar .user-profile a:hover .layout-profile-role, .layout-wrapper.layout-topbar-color .layout-topbar .user-profile a:hover .fa {
    color: #92CCFF !important; }
  .layout-wrapper.layout-topbar-color .layout-topbar .topbar-menu-element i {
    color: #FAAA00; }
  .layout-wrapper.layout-topbar-color .layout-topbar .topbar-menu-element .ui-outputlabel {
    color: #003399; }
  .layout-wrapper.layout-topbar-color .layout-topbar .topbar-menu-element:hover {
    background-color: #92CCFF; }
    .layout-wrapper.layout-topbar-color .layout-topbar .topbar-menu-element:hover i {
      color: #FAAA00; }
    .layout-wrapper.layout-topbar-color .layout-topbar .topbar-menu-element:hover .ui-outputlabel {
      color: #ffffff; }

@media screen and (max-width: 991px) {
  .layout-wrapper .layout-topbar {
    height: 70px; }
    .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] {
      padding: 0; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] .layout-profile-userinfo {
        display: none; }
      .layout-wrapper .layout-topbar #topbarControlFormId .ui-commandlink.layout-control[id$=":topbarControlProfileBtnId"] i.fa {
        margin: 11px 5px 0 5px; }
    .layout-wrapper .layout-topbar #topbarControlFormId .ui-overlaypanel {
      right: 0; } }
.layout-dialog {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto; }

.layout-wrapper .layout-menu-container {
  position: fixed;
  height: 100%;
  top: 70px;
  overflow: auto;
  z-index: 999; }
  .layout-wrapper .layout-menu-container .layout-profile .layout-profile-button {
    padding: 3em 0;
    display: block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .layout-wrapper .layout-menu-container .layout-profile .layout-profile-button img {
      width: 96px;
      margin-bottom: 12px;
      display: inline-block; }
    .layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo .layout-profile-name {
      display: inline-block;
      font-weight: 500; }
    .layout-wrapper .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo .layout-profile-role {
      display: block; }
  .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
      .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li:first-child {
        margin-top: .5em; }
      .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li:last-child {
        margin-bottom: .5em; }
      .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a {
        display: block;
        padding: 0.75em 1em;
        text-align: left;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s; }
        .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a i {
          margin-right: .5em;
          vertical-align: middle; }
        .layout-wrapper .layout-menu-container .layout-profile .layout-profile-menu li a span {
          display: inline-block;
          vertical-align: middle; }
  .layout-wrapper .layout-menu-container .layout-menu {
    list-style-type: none;
    margin: .5em 0;
    padding: 0; }
    .layout-wrapper .layout-menu-container .layout-menu > li {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
    .layout-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > .layout-menuitem-root-text {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1.5rem 0 0.5rem 1.5rem;
      color: #6c7276; }
    .layout-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > a {
      display: none; }
    .layout-wrapper .layout-menu-container .layout-menu li a {
      display: block;
      padding: .75em 1em;
      position: relative;
      cursor: pointer;
      outline: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
      -o-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
      -webkit-transition: color 0.2s, background-color 0.2s, border-left-color 0.2s;
      transition: color 0.2s, background-color 0.2s, border-left-color 0.2s; }
      .layout-wrapper .layout-menu-container .layout-menu li a .layout-menuitem-text {
        display: inline-block;
        vertical-align: middle;
        width: 91px; }
      .layout-wrapper .layout-menu-container .layout-menu li a .layout-menuitem-icon {
        margin-right: .5em;
        vertical-align: middle; }
      .layout-wrapper .layout-menu-container .layout-menu li a.rotated-icon .layout-menuitem-icon {
        transform: rotate(90deg); }
      .layout-wrapper .layout-menu-container .layout-menu li a .layout-submenu-toggler {
        position: absolute;
        right: 5px;
        top: 50%;
        font-size: 16px;
        margin-top: -8px;
        -moz-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        -webkit-transition: transform 0.2s;
        transition: transform 0.2s; }
    .layout-wrapper .layout-menu-container .layout-menu li.active-menuitem > a .layout-submenu-toggler {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .layout-wrapper .layout-menu-container .layout-menu li ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li a {
        padding-left: 2em; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li li a {
        padding-left: 3em; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li li li a {
        padding-left: 4em; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li li li li a {
        padding-left: 5em; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li li li li li a {
        padding-left: 6em; }
      .layout-wrapper .layout-menu-container .layout-menu li ul li li li li li li a {
        padding-left: 7em; }
    .layout-wrapper .layout-menu-container .layout-menu li .layout-menu-tooltip {
      display: none; }
  .layout-wrapper .layout-menu-container .menu-scroll-content {
    padding-bottom: 120px; }
.layout-wrapper.layout-menu-color .layout-menu-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-left: 0;
  border-top: 0; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile {
    border-bottom: 1px solid #92CCFF; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-button .layout-profile-name {
      color: #003399; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-button .layout-profile-role {
      color: #003399; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-button:hover {
      background-color: #92CCFF; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu {
      background-color: #ffffff;
      border-left: 0; }
      .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu a span {
        color: #003399; }
      .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu a i {
        color: #FAAA00; }
      .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu a:hover {
        background-color: #92CCFF; }
        .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu a:hover span {
          color: #ffffff; }
        .layout-wrapper.layout-menu-color .layout-menu-container .layout-profile .layout-profile-menu a:hover i {
          color: #FAAA00; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu ul {
    background-color: #ffffff; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li.layout-root-menuitem > .layout-menuitem-root-text {
    color: #003399; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a .layout-menuitem-text {
    color: #003399; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a .layout-menuitem-icon, .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a .layout-submenu-toggler {
    color: #FAAA00; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a:hover {
    background-color: #92CCFF; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a:hover .layout-menuitem-text {
      color: #ffffff; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a:hover .layout-menuitem-icon, .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li a:hover .layout-submenu-toggler {
      color: #FAAA00; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li.active-menuitem > a {
    background-color: #92CCFF; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li.active-menuitem > a .layout-menuitem-text {
      color: #ffffff; }
    .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li.active-menuitem > a .layout-menuitem-icon, .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu li.active-menuitem > a .layout-submenu-toggler {
      color: #FAAA00; }
  .layout-wrapper.layout-menu-color .layout-menu-container .layout-menu > li.active-menuitem {
    border-left-color: #FAAA00; }
.layout-wrapper .layout-main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }
  .layout-wrapper .layout-main .layout-content {
    padding: 16px;
    flex: 1 1 0;
    overflow: auto; }
.layout-wrapper.layout-static .layout-menu-container .layout-menu li ul {
  display: block; }
  .layout-wrapper.layout-static .layout-menu-container .layout-menu li ul li ul {
    display: none; }

@media screen and (min-width: 992px) {
  .layout-wrapper.layout-static .layout-menu-container {
    width: 165px;
    left: 0;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s; }
  .layout-wrapper.layout-static .layout-left-tree-panel {
    display: none;
    left: 165px; }
    .layout-wrapper.layout-static .layout-left-tree-panel.layout-left-tree-panel-active {
      display: block; }
  .layout-wrapper.layout-static .layout-left-tree-panel-button {
    left: 165px; }
    .layout-wrapper.layout-static .layout-left-tree-panel-button.layout-left-tree-panel-active {
      left: 438px; }
  .layout-wrapper.layout-static .layout-main {
    margin-left: 165px; }
    .layout-wrapper.layout-static .layout-main.layout-left-tree-panel-active {
      margin-left: 438px; }
  .layout-wrapper.layout-static.layout-static-inactive .layout-menu-container {
    left: -165px; }
  .layout-wrapper.layout-static.layout-static-inactive .layout-main {
    margin-left: 0; }
  .layout-wrapper.layout-static.layout-static-inactive-restore .layout-menu-container {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none; }
  .layout-wrapper.layout-slim .layout-menu-container {
    width: 57px;
    overflow: visible; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button {
      text-align: center;
      padding: 11px 15px; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button img {
        width: 25px;
        margin-bottom: 0; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-button .layout-profile-userinfo {
        display: none; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu {
      position: absolute;
      overflow: auto;
      top: 0;
      left: 57px;
      min-width: 250px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
      .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu li {
        border-left: 0 none;
        border-right: 0 none; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu li:first-child {
          margin: 0; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu li:last-child {
          margin: 0; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-profile .layout-profile-menu li a {
          -moz-transition: background-color 0.2s;
          -o-transition: background-color 0.2s;
          -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-profile.layout-profile-active .layout-profile-menu {
      display: block; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li {
      position: relative; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.layout-root-menuitem > .layout-menuitem-root-text {
        display: none; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.layout-root-menuitem > a {
        display: block; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a {
        display: block;
        text-align: center;
        padding: 1em 0; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a .layout-menuitem-icon {
          font-size: 18px;
          margin-right: 0; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a .layout-menuitem-text {
          display: none; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a:hover + .layout-menu-tooltip {
          display: block; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a .layout-submenu-toggler {
          display: none; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul {
        position: absolute;
        display: none;
        top: 0;
        left: 52px;
        min-width: 200px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16); }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a:hover + .layout-menu-tooltip {
        display: none; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > ul {
        display: block; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu .layout-menu-tooltip {
      display: none;
      padding: 0 5px;
      position: absolute;
      left: 57px;
      top: 10px;
      line-height: 1; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-text {
        padding: 6px 8px;
        font-weight: 700;
        font-size: 13px;
        background-color: #003399;
        color: #ffffff;
        min-width: 75px;
        white-space: nowrap;
        text-align: center; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: #003399; }
  .layout-wrapper.layout-slim .layout-left-tree-panel {
    display: none;
    left: 57px; }
    .layout-wrapper.layout-slim .layout-left-tree-panel.layout-left-tree-panel-active {
      display: block; }
  .layout-wrapper.layout-slim .layout-left-tree-panel-button {
    left: 57px; }
    .layout-wrapper.layout-slim .layout-left-tree-panel-button.layout-left-tree-panel-active {
      left: 345px; }
  .layout-wrapper.layout-slim .layout-main {
    margin-left: 57px; }
    .layout-wrapper.layout-slim .layout-main.layout-left-tree-panel-active {
      margin-left: 345px; }
  .layout-wrapper.layout-slim .layout-menu-container .menu-scroll-content {
    width: 100%;
    padding: 0; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li a {
    padding-left: 16px; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li li a {
    padding-left: 32px; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li li li a {
    padding-left: 48px; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li li li li a {
    padding-left: 64px; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li li li li li a {
    padding-left: 80px; }
  .layout-wrapper.layout-slim .layout-menu-container .layout-menu ul li li li li li li a {
    padding-left: 96px; }

  .layout-wrapper.layout-slim .layout-menu-container .menu-scroll-content {
    width: 100%;
    padding: 0; } }
@media screen and (max-width: 991px) {
  .layout-wrapper .layout-topbar #topbarLogoFormId {
    margin-left: 1em; }
  .layout-wrapper .layout-menu-container {
    top: 115px;
    width: 165px;
    left: -165px;
    -webkit-box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.16);
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.16);
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s; }
  .layout-wrapper .layout-main {
    margin-left: 0;
    padding-top: 70px;
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s; }
  .layout-wrapper .layout-mask {
    display: none;
    background-color: #252529;
    position: fixed;
    top: 114px;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .layout-wrapper.layout-mobile-active .layout-menu-container {
    left: 0; }
  .layout-wrapper.layout-mobile-active .layout-mask {
    display: block; }

  body.blocked-scroll {
    overflow: hidden; } }
.layout-right-panel {
  width: 288px;
  right: -288px;
  background-color: #ffffff;
  border-left: solid 1px #ebebef;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-transition: right 0.2s;
  -o-transition: right 0.2s;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16); }
  .layout-right-panel.layout-right-panel-active {
    right: 0;
    display: block; }

@media screen and (max-width: 991px) {
  .layout-right-panel {
    top: 115px; } }
.layout-left-tree-panel {
  width: 288px;
  background-color: #ffffff;
  border-right: solid 1px #ebebef;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0; }
  .layout-left-tree-panel .ui-scrollpanel {
    position: absolute;
    bottom: 0;
    height: -webkit-fill-available;
    width: 287px;
    border: none;
    padding: 0;
    margin-top: 70px; }
  .layout-left-tree-panel .ui-tree {
    border: none;
    padding: 10px 0 0 0; }
    .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode {
      padding: 0; }
      .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
        display: block; }
        .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon {
          width: 15px;
          height: 0;
          margin: 0; }
        .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
          margin: 0px;
          font-size: 10px;
          color: #666666;
          width: 15px; }
        .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
          border: 1px solid white;
          border-radius: 0;
          width: fit-content;
          background-color: #ffffff;
          color: #666666;
          padding: 3px; }
          .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-hover {
            border: 1px solid #92CCFF;
            background-color: #92CCFF;
            color: #ffffff; }
          .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
            border: 1px solid #002e8a;
            background-color: #002e8a;
            color: #ffffff; }
        .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.treenode-selected-path .ui-treenode-label {
          border: 1px solid #002e8a; }
          .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.treenode-selected-path .ui-treenode-label.ui-state-hover {
            border: 1px solid #92CCFF; }
          .layout-left-tree-panel .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.treenode-selected-path .ui-treenode-label.ui-state-highlight {
            border: 1px solid #002e8a; }

.layout-left-tree-panel-button {
  display: block;
  border: 1px solid #ebebef;
  border-left: none;
  z-index: 999;
  position: absolute;
  top: 400px;
  background-color: #003399;
  color: #ffffff !important;
  padding: 5px 0px; }
  .layout-left-tree-panel-button:hover {
    background-color: #92CCFF;
    color: #ffffff !important; }

@media screen and (max-width: 991px) {
  .layout-left-tree-panel {
    display: none; }
    .layout-left-tree-panel.layout-left-tree-panel-active {
      display: none; }

  .layout-left-tree-panel-button {
    display: none; } }
.layout-download-new-airbase .ui-outputlabel {
  display: block;
  margin: 0 0 10px 0; }
.layout-download-new-airbase .ui-button {
  min-width: 55px; }

.layout-footer {
  padding: 1.5em 1.5em 0.5em 1.5em;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.card {
  background: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .card .card-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .card:last-child {
    margin-bottom: 0; }
  .card.card-w-title {
    padding-bottom: 1rem; }
  .card.no-gutter {
    margin-bottom: 0; }

.ui-dataview.dataview-layout-one .ui-dataview-header {
  padding: 0;
  background-color: #92CCFF;
  color: #ffffff;
  text-align: center;
  border: 1px solid #92CCFF; }
  .ui-dataview.dataview-layout-one .ui-dataview-header .ui-outputlabel {
    display: block;
    height: 30px;
    line-height: 30px; }
  .ui-dataview.dataview-layout-one .ui-dataview-header .ui-dataview-layout-options {
    display: none; }
.ui-dataview.dataview-layout-one .ui-paginator {
  padding: 0; }
  .ui-dataview.dataview-layout-one .ui-paginator.ui-paginator-top .ui-paginator-rpp-options {
    margin: 0 1px 1px 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator.ui-paginator-bottom .ui-paginator-rpp-options {
    margin: 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    outline: none; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-first {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-prev {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-pages .ui-paginator-page {
    border: none;
    line-height: 21px;
    min-width: 21px;
    height: 21px;
    margin: 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-next {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-last {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-rpp-options {
    height: 21px;
    vertical-align: unset; }
.ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row {
  margin: 0px; }
  .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column {
    padding: 5px 5px 5px 5px; }
    .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink {
      text-decoration: none;
      display: block;
      -webkit-user-drag: none;
      max-width: 300px;
      margin: 0 auto; }
      .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card {
        padding: 5px;
        background-color: #ffffff; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .viewGridItem-header {
          overflow: hidden; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .viewGridItem-header .ui-outputlabel {
            color: #003399;
            display: block;
            text-align: center;
            height: 21px;
            line-height: 21px;
            cursor: pointer; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card img {
          width: 100%;
          -webkit-user-drag: none; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid {
          margin: auto; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid tbody tr td {
            background-color: #ffffff;
            padding: 0 2.5px;
            border: none; }
            .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid tbody tr td .ui-outputlabel {
              color: #003399;
              display: inline-block;
              height: 21px;
              line-height: 21px;
              cursor: pointer; }

.ui-panelgrid.panelgrid-layout-one {
  width: max-content; }
  .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell {
    border: none;
    padding: 0 0 5px 0; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message {
      padding: 0;
      margin: 0 !important;
      display: block;
      border-radius: 4px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message .ui-message-error-icon {
        height: 23px !important;
        width: 23px !important;
        line-height: 23px;
        text-align: center; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message .ui-message-error-detail {
        display: inline-block;
        height: 23px;
        line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-outputlabel.block-label {
      display: block;
      height: 23px;
      line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu {
      height: 23px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-label {
        padding: 0 0 0 5px;
        min-height: unset;
        height: 21px;
        line-height: 21px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputfield {
      padding: 0 0 0 5px;
      height: 23px;
      line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout {
      padding: 1px;
      height: unset;
      line-height: unset;
      overflow: hidden; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout .ui-selectlistbox-listcontainer {
        max-height: 92px;
        padding: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item {
          padding: 0 0 0 5px;
          height: 23px;
          line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout {
      padding: 0;
      height: unset;
      line-height: unset;
      overflow: hidden; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container {
        padding: 0;
        margin: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container .ui-icon {
          left: 8px; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container .ui-selectlistbox-filter {
          height: 23px !important;
          line-height: 23px !important;
          padding: 0 0 0 29px !important;
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 4px 4px 0 0; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer {
        max-height: 92px;
        padding: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item {
          padding: 0;
          height: 23px;
          line-height: 23px; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-disabled .ui-chkbox .ui-chkbox-box {
            display: none; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox {
            vertical-align: middle;
            margin: 0.5px 5px 2px 5px;
            height: 19px;
            line-height: 13px;
            width: 19px; }
            .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox .ui-chkbox-box {
              height: 19px;
              width: 19px;
              margin: 0px; }
              .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
                width: 13px;
                height: 13px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-chkbox .ui-chkbox-box {
      border-width: 1px;
      height: 23px;
      width: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu {
      min-height: 23px;
      height: fit-content; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container {
        height: fit-content !important;
        min-height: 21px; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
          height: 21px;
          line-height: 19px;
          background-color: #8ebeff;
          border: 1px solid #003399;
          color: #ffffff; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token .ui-selectcheckboxmenu-token-label {
            padding: 0 18px 0 5px; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token .ui-selectcheckboxmenu-token-icon {
            font-size: 10px;
            margin-top: -9px;
            line-height: 20px;
            margin-right: 2px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputswitch {
      margin: 4.5px 0 1.5px 0; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputswitch .ui-inputswitch-handle {
        top: -2px;
        width: 18px !important;
        height: 18px !important;
        box-shadow: none !important; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.left-padding {
      padding-left: 5px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.right-padding {
      padding-right: 5px;
      font-weight: bold; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.text-align-center {
      text-align: center; }
  .ui-panelgrid.panelgrid-layout-one .min-width-one {
    min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-inputnumber .ui-inputfield {
      min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-autocomplete .ui-autocomplete-input {
      min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container {
      width: 298px !important; }

.ui-panel.panel-layout-one {
  width: max-content;
  margin: 0 0 10px 0; }
  .ui-panel.panel-layout-one .ui-panel-titlebar {
    text-align: center;
    padding: 0px;
    background-color: #003399;
    border: 1px solid #003399;
    color: #ffffff;
    border-radius: 0 !important; }
    .ui-panel.panel-layout-one .ui-panel-titlebar .ui-panel-title {
      display: block;
      height: 30px;
      line-height: 30px; }
  .ui-panel.panel-layout-one .ui-panel-content {
    padding: 5px 10px 0px 10px;
    border-radius: 0 !important; }

.ui-accordion.accordion-layout-one .ui-accordion-header {
  background-color: #003399 !important;
  border: 1px solid #003399 !important;
  color: #ffffff !important;
  box-shadow: none !important;
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
  border-radius: 0 !important; }
  .ui-accordion.accordion-layout-one .ui-accordion-header > .ui-icon.ui-icon-triangle-1-s {
    height: 28px;
    line-height: 28px; }
  .ui-accordion.accordion-layout-one .ui-accordion-header > .ui-icon.ui-icon-triangle-1-e {
    height: 28px;
    line-height: 28px; }
.ui-accordion.accordion-layout-one .ui-accordion-content {
  border-radius: 0 !important;
  padding: 5px 10px; }

.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-column-filter {
  width: -webkit-fill-available;
  margin: 2px !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-column-customfilter {
  height: 23px;
  margin: 2px auto !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-chkbox {
  margin: 0 0 1px 0;
  height: 23px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-chkbox .ui-chkbox-box {
    height: 17px;
    width: 17px;
    margin: 3px 0; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-inputfield {
  padding: 0 0 0 5px;
  height: 23px;
  line-height: 23px;
  box-shadow: none !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu {
  height: 23px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu .ui-selectonemenu-label {
    padding: 0 0 0 5px;
    min-height: unset;
    height: 21px;
    line-height: 21px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu .ui-selectonemenu-trigger {
    border-left: 1px solid #dee2e6;
    width: 1.5rem;
    background-color: white; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th.no-sortable-column-icon .ui-sortable-column-icon {
  display: none; }
.ui-datatable.datatable-layout-header-filters .filters-width-one {
  max-width: 200px !important;
  width: -webkit-fill-available !important; }
  .ui-datatable.datatable-layout-header-filters .filters-width-one.ui-autocomplete .ui-autocomplete-input {
    max-width: 200px !important;
    width: -webkit-fill-available !important; }
.ui-datatable.datatable-layout-one {
  margin-bottom: 5px; }
  .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table thead tr th {
    padding: 0;
    background-color: #92CCFF;
    color: #ffffff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #92CCFF; }
  .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td {
    border: none;
    padding: 5px 5px 0 5px;
    text-align: center; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message {
      padding: 0;
      margin: 0 !important;
      display: block;
      border-radius: 4px; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-icon {
        height: 23px !important;
        width: 23px !important;
        line-height: 23px;
        text-align: center; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-detail {
        display: inline-block;
        height: 23px;
        line-height: 23px; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputfield {
      padding: 0 0 0 5px;
      height: 23px;
      line-height: 23px;
      width: 100%; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu {
      height: 23px;
      width: 100%; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu .ui-selectonemenu-label {
        padding: 0 0 0 5px;
        min-height: unset;
        height: 21px;
        line-height: 21px; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu .ui-selectonemenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputswitch {
      margin: 4.5px 0 1.5px 0; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputswitch .ui-inputswitch-handle {
        top: -2px;
        width: 18px !important;
        height: 18px !important;
        box-shadow: none !important; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-commandlink {
      display: inline-block;
      height: 23px;
      line-height: 23px; }
  .ui-datatable.datatable-layout-one .table-column-title-left-column-border-right-border {
    border-right: none !important; }
  .ui-datatable.datatable-layout-one .table-column-title-center-column-border-horizontal-border {
    border-right: none !important;
    border-left: none !important; }
  .ui-datatable.datatable-layout-one .table-column-title-right-column-border-left-border {
    border-left: none !important; }
.ui-datatable.datatable-layout-two .ui-datatable-header {
  text-align: center;
  padding: 0px;
  background-color: #92CCFF;
  border: 1px solid #92CCFF;
  color: #ffffff;
  border-radius: 0 !important; }
  .ui-datatable.datatable-layout-two .ui-datatable-header .ui-outputlabel {
    display: block;
    height: 30px;
    line-height: 30px; }
.ui-datatable.datatable-layout-two thead th {
  padding: 0;
  text-align: center;
  background-color: #ffffff !important;
  border: 1px solid #003399 !important;
  color: #003399;
  margin: 0;
  box-shadow: none !important; }
  .ui-datatable.datatable-layout-two thead th .ui-column-title {
    display: inline-block;
    height: 19px;
    line-height: 19px;
    vertical-align: unset; }
.ui-datatable.datatable-layout-two .ui-paginator {
  padding: 0; }
  .ui-datatable.datatable-layout-two .ui-paginator.ui-paginator-top .ui-paginator-rpp-options {
    margin: 0 1px 1px 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator.ui-paginator-bottom .ui-paginator-rpp-options {
    margin: 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    outline: none; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-first {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-prev {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-pages .ui-paginator-page {
    border: none;
    line-height: 21px;
    min-width: 21px;
    height: 21px;
    margin: 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-next {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-last {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-rpp-options {
    height: 21px;
    vertical-align: unset; }
.ui-datatable.datatable-layout-two .ui-datatable-data > tr > td {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-width: 1px; }
  .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-commandlink {
    display: block;
    height: 30px;
    border-radius: 15px;
    min-width: 75px;
    width: fit-content;
    line-height: 30px;
    text-align: center;
    color: #495057;
    margin: 0 auto;
    text-decoration: none;
    padding: 0 9px; }
  .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-link {
    color: #495057; }
.ui-datatable.datatable-layout-two .ui-datatable-data > tr .ui-row-toggler {
  width: 18px; }
.ui-datatable.datatable-layout-two .ui-datatable-data .ui-datatable-tablewrapper {
  overflow: inherit; }
.ui-datatable.datatable-layout-two .table-column-title-left-column-border-right-border {
  border-right: none !important; }
.ui-datatable.datatable-layout-two .table-column-title-center-column-border-horizontal-border {
  border-right: none !important;
  border-left: none !important; }
.ui-datatable.datatable-layout-two .table-column-title-right-column-border-left-border {
  border-left: none !important; }
.ui-datatable .left-padding {
  padding-left: 5px; }
.ui-datatable .right-padding {
  padding-right: 5px;
  font-weight: bold; }
.ui-datatable .text-align-center {
  text-align: center; }
.ui-datatable.top-margin {
  margin-top: 10px !important; }
.ui-datatable.bottom-margin {
  margin-bottom: 10px !important; }

.ui-selectonemenu-panel {
  border-radius: 0px !important; }
  .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
    padding: 0.5rem 0.5rem !important; }

div.center-btn-div {
  width: fit-content;
  height: fit-content;
  margin: 5px auto 0 auto;
  padding: 0px;
  border: none; }
  div.center-btn-div.bottom-margin {
    margin-bottom: 5px; }
  div.center-btn-div.no-top-margin {
    margin-top: 0px; }
  div.center-btn-div .left-btn {
    margin-right: 25px; }

div.timeline-layout-one .timeline-menu {
  margin: 5px; }
  div.timeline-layout-one .timeline-menu .ui-button {
    opacity: .5;
    transition: opacity 0.25s; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-button-icon-only {
      width: 23px;
      height: 23px;
      margin-left: 2px; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-state-hover {
      opacity: 1; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-state-focus {
      opacity: 1;
      box-shadow: 0 0 0 2px #8ebeff; }
div.timeline-layout-one .vis-timeline .vis-top {
  background-color: #003399;
  position: relative; }
  div.timeline-layout-one .vis-timeline .vis-top .vis-time-axis .vis-text {
    border-left: 1px solid #ffffff;
    color: #ffffff; }
    div.timeline-layout-one .vis-timeline .vis-top .vis-time-axis .vis-text.vis-measure {
      border-left: none; }
  div.timeline-layout-one .vis-timeline .vis-top div.timeline-topbar-cover {
    position: absolute;
    width: 1px;
    height: -webkit-fill-available;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #003399; }
div.timeline-layout-one .vis-timeline .vis-center {
  border-left: 1px solid #002e8a; }
  div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-background .vis-group {
    height: 23px; }
  div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group {
    height: 23px; }
    div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group .vis-item {
      border: none !important;
      border-radius: 0 !important; }
      div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group .vis-item .vis-item-overflow .vis-item-content {
        padding: 0 5px;
        display: block;
        height: 23px;
        line-height: 23px; }
div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label {
  height: 23px;
  color: #ffffff;
  border-bottom: 1px solid #002e8a; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label.vis-group-level-1 {
    padding-left: 5px;
    background-color: #003399; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label.vis-group-level-2 {
    padding-left: 20px;
    background-color: #92CCFF; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label .vis-inner {
    padding: 0 10px; }
    div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label .vis-inner span {
      display: block;
      height: 23px;
      line-height: 23px; }
div.timeline-layout-one .vis-timeline .vis-tooltip {
  border: 1px solid #004eb6 !important;
  background-color: #0061E3 !important;
  color: #ffffff !important;
  font-size: 13px !important;
  height: 21px !important;
  line-height: 21px !important;
  padding: 0 5px !important;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important; }

div.timeline-topbar-cover {
  position: absolute;
  width: 1px;
  height: 44px;
  z-index: 5;
  top: 0;
  left: 122px;
  background-color: #003399; }

.nopad {
  padding: 0; }
  .nopad .ui-panel-content {
    padding: 0; }

.ui-tooltip.max-width-200 {
  max-width: 200px; }

.hide-component {
  display: none; }

.ui-outputlabel.error-outputlabel {
  line-height: 23px !important;
  height: unset !important;
  background: #FFCDD2;
  border: 1px solid #EF5350;
  border-width: 0 0 0 3px;
  color: #B71C1C;
  padding: 0 5px;
  margin: 0 !important;
  border-radius: 4px;
  text-align: left; }

.ui-inputnumber.ui-state-error .ui-inputfield {
  border-color: #f44336; }

.overview-box {
  position: relative;
  padding: .5em 1em; }
  .overview-box .overview-box-title {
    font-size: 13px;
    margin-bottom: 1.2em;
    color: #252529; }
  .overview-box .overview-box-value {
    color: #252529;
    font-size: 21px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: .25em; }
  .overview-box img {
    width: 100%; }
  .overview-box .overview-box-status {
    position: absolute;
    right: 1em;
    top: .5em;
    color: #0fc752;
    font-size: 14px;
    font-weight: 500; }
  .overview-box.bluebg {
    background-color: #1bb7ee; }
    .overview-box.bluebg .overview-box-title {
      color: #ffffff; }
    .overview-box.bluebg .overview-box-value {
      color: #ffffff; }
    .overview-box.bluebg .overview-box-status {
      color: #ffffff; }
  .overview-box.orangebg {
    background-color: #fa8966; }
    .overview-box.orangebg .overview-box-title {
      color: #ffffff; }
    .overview-box.orangebg .overview-box-value {
      color: #ffffff; }
    .overview-box.orangebg .overview-box-status {
      color: #ffffff; }
  .overview-box.purplebg {
    background-color: #a966fa; }
    .overview-box.purplebg .overview-box-title {
      color: #ffffff; }
    .overview-box.purplebg .overview-box-value {
      color: #ffffff; }
    .overview-box.purplebg .overview-box-status {
      color: #ffffff; }
  .overview-box.limebg {
    background-color: #c5da00; }
    .overview-box.limebg .overview-box-title {
      color: #ffffff; }
    .overview-box.limebg .overview-box-value {
      color: #ffffff; }
    .overview-box.limebg .overview-box-status {
      color: #ffffff; }

.timeline {
  min-height: 495px; }
  .timeline ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .timeline ul .timeline-event-title {
      vertical-align: middle;
      font-weight: 500; }
    .timeline ul .timeline-event-time {
      background-color: #ebebef;
      padding: .25em;
      vertical-align: middle;
      margin-left: 1em;
      display: inline-block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .timeline ul img {
      width: 100%; }
    .timeline ul li {
      border-bottom: 1px solid #ebebef;
      padding: 1em; }
      .timeline ul li i {
        font-size: 24px;
        margin-right: .25em;
        vertical-align: middle; }
      .timeline ul li:nth-child(1) i {
        color: #0f97c7; }
      .timeline ul li:nth-child(2) i {
        color: #1cb9d7; }
      .timeline ul li:nth-child(3) i {
        color: #f56f64; }
      .timeline ul li:nth-child(4) i {
        color: #9643F9; }
      .timeline ul li:last-child {
        border-bottom: 0 none; }
    .timeline ul p {
      color: #65686a;
      margin: .5em 0; }

.live-support ul {
  padding: 12px;
  margin: 0;
  list-style-type: none; }
  .live-support ul li {
    padding: 12px; }
    .live-support ul li .p-col-fixed {
      width: 48px; }
    .live-support ul li img {
      width: 36px; }
    .live-support ul li .chat-message {
      position: relative;
      padding: 8px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .live-support ul li.message-from .chat-message {
      background-color: #ebebef; }
      .live-support ul li.message-from .chat-message:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 16px; }
      .live-support ul li.message-from .chat-message:before {
        border-right-color: #ebebef;
        border-width: 10px;
        margin-top: -10px; }
    .live-support ul li.message-to .chat-message {
      background-color: #ffffff;
      border: 1px solid #ebebef; }
      .live-support ul li.message-to .chat-message:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 18px;
        border-left-color: #ffffff;
        border-width: 9px;
        margin-top: -10px; }
      .live-support ul li.message-to .chat-message:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 16px;
        border-left-color: #ebebef;
        border-width: 11px;
        margin-top: -10px; }
.live-support .new-message {
  border: 1px solid #ebebef;
  border-right: 0 none; }
  .live-support .new-message input {
    border: 0 none;
    width: 100%;
    outline: 0 none;
    color: #65686a;
    font-family: "Poppins", Montserrat, Raleway, sans-serif; }
  .live-support .new-message .p-col-fixed {
    width: 100px; }
    .live-support .new-message .p-col-fixed button {
      width: 100%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }

.resolution-center {
  min-height: 325px; }
  .resolution-center .ui-inputfield {
    display: block;
    margin-bottom: 2em; }
  .resolution-center .resolution-button-bar .ui-button {
    width: 48%; }
    .resolution-center .resolution-button-bar .ui-button:first-child {
      margin-right: 4%; }

.team {
  min-height: 325px; }
  .team ul {
    padding: 0; }
    .team ul li {
      list-style: none;
      padding: .5em; }
      .team ul li:after {
        content: "";
        display: table;
        clear: both; }
    .team ul img {
      width: 36px;
      height: 36x;
      vertical-align: middle;
      display: inline-block; }
    .team ul .team-box {
      margin-left: 1em;
      display: inline-block;
      vertical-align: middle; }
      .team ul .team-box .team-member {
        display: block;
        font-weight: 500; }
      .team ul .team-box .team-member-account {
        color: #65686a; }
    .team ul a {
      float: right;
      color: #65686a;
      font-size: 18px;
      margin-left: 1em; }
      .team ul a i {
        font-size: 18px; }

.user-card {
  padding: 0; }
  .user-card .user-card-header {
    height: 120px;
    overflow: hidden; }
    .user-card .user-card-header img {
      width: 100%;
      height: 100%; }
  .user-card .user-card-content img {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 24px; }
  .user-card .user-card-content .ui-button {
    float: right;
    width: 36px;
    height: 36px;
    margin: -18px 24px 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .user-card .user-card-content .user-card-name {
    font-size: 13px;
    color: #ffffff;
    position: relative;
    top: -55px;
    margin-left: 100px;
    font-weight: 700;
    white-space: nowrap; }
  .user-card .user-card-content .user-detail {
    padding: .5em 1em; }
    .user-card .user-card-content .user-detail .user-detail-box {
      padding: .5em;
      position: relative;
      border: 1px solid #dadada;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .user-card .user-card-content .user-detail .user-detail-box .user-detail-box-detail {
        color: #65686a; }
      .user-card .user-card-content .user-detail .user-detail-box i {
        position: absolute;
        color: #8b8b90;
        top: .5em;
        right: .5em; }
    .user-card .user-card-content .user-detail .ui-progressbar {
      height: 4px;
      margin-top: 20px; }

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Inter-UI-Regular.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Inter-UI-Bold.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url("#{resource['roma-layout:fonts/Poppins-Thin.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url("#{resource['roma-layout:fonts/Poppins-ThinItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("#{resource['roma-layout:fonts/Poppins-Light.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("#{resource['roma-layout:fonts/Poppins-LightItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Poppins-Regular.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Poppins-Italic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Poppins-Medium.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Poppins-MediumItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("#{resource['roma-layout:fonts/Poppins-SemiBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url("#{resource['roma-layout:fonts/Poppins-SemiBoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Poppins-Bold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Poppins-BoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("#{resource['roma-layout:fonts/Poppins-ExtraBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("#{resource['roma-layout:fonts/Poppins-ExtraBoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("#{resource['roma-layout:fonts/Poppins-Black.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url("#{resource['roma-layout:fonts/Poppins-BlackItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
.layout-echobases-filter .layout-echobases-filter-panel {
  display: inline-block;
  padding: 0; }
  .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content {
    border: none;
    border-radius: 0;
    padding: 1px 5px 1px 0;
    text-align: right; }
    .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-outputlabel {
      display: inline-block;
      width: 127px;
      float: left;
      height: 23px;
      line-height: 23px;
      margin-right: 5px; }
    .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete {
      margin: 0 1px; }
      .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-inputfield {
        box-shadow: none !important;
        width: 200px;
        height: 23px; }
      .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown {
        width: 19.5px;
        height: 23px;
        background-color: white;
        color: #495057;
        border: 1px solid #ced4da;
        border-left: none;
        box-shadow: none !important; }
        .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown .ui-button-text {
          padding: 0; }
        .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-hover {
          background-color: #003399;
          color: #ffffff;
          border: 1px solid #003399;
          border-left: none; }
        .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-focus {
          background-color: #92CCFF;
          color: #ffffff;
          border: 1px solid #92CCFF;
          border-left: none; }
        .layout-echobases-filter .layout-echobases-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-active {
          background-color: #92CCFF;
          color: #ffffff;
          border: 1px solid #92CCFF;
          border-left: none; }

.layout-echobases-content .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-commandlink {
  min-width: unset;
  padding: 0; }

.layout-devices-filter .layout-devices-filter-panel {
  display: inline-block;
  padding: 0; }
  .layout-devices-filter .layout-devices-filter-panel .ui-panel-content {
    border: none;
    border-radius: 0;
    padding: 1px 5px 1px 0;
    text-align: right; }
    .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-outputlabel {
      display: inline-block;
      width: 127px;
      float: left;
      height: 23px;
      line-height: 23px;
      margin-right: 5px; }
    .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete {
      margin: 0 1px; }
      .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-inputfield {
        box-shadow: none !important;
        width: 200px;
        height: 23px; }
      .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown {
        width: 19.5px;
        height: 23px;
        background-color: white;
        color: #495057;
        border: 1px solid #ced4da;
        border-left: none;
        box-shadow: none !important; }
        .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown .ui-button-text {
          padding: 0; }
        .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-hover {
          background-color: #003399;
          color: #ffffff;
          border: 1px solid #003399;
          border-left: none; }
        .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-focus {
          background-color: #92CCFF;
          color: #ffffff;
          border: 1px solid #92CCFF;
          border-left: none; }
        .layout-devices-filter .layout-devices-filter-panel .ui-panel-content .ui-autocomplete .ui-autocomplete-dropdown.ui-state-active {
          background-color: #92CCFF;
          color: #ffffff;
          border: 1px solid #92CCFF;
          border-left: none; }

.layout-devices-content .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-commandlink {
  min-width: unset;
  padding: 0; }

/*# sourceMappingURL=layout-uptime.css.map */
