<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div  class="layout-breadcrumb">
        <h:form id="breadcrumbFormId">
            <p:breadCrumb styleClass="top-layout-breadcrumb" model="#{navigationBean.breadcrumbModel}" homeDisplay="text"/>
        </h:form>
    </div>
</ui:composition>
