<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">
    
    <p:dialog id="defaultDialogContainerId" styleClass="layout-dialog" header="#{navigationBean.getDialogHeader()}" dynamic="true" widgetVar="defaultDlg" modal="true" fitViewport="true">
        <p:ajax event="close"  listener="#{navigationBean.closeDialog()}" />
        <div class="p-grid">
            <div class="p-col" >
                <ui:include src="#{navigationBean.getDialogContent()}"/>
            </div>
        </div>
    </p:dialog>
</ui:composition>
