<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pc="http://primefaces.org/roma">
    
    <p:commandLink styleClass="layout-left-tree-panel-button" rendered="#{navigationBean.leftTreePanelButton}" update="leftTreeFormId" oncomplete="updateTreeNodes()">
        <i class="pi pi-ellipsis-v" />
    </p:commandLink>
    
    <div class="layout-left-tree-panel">
        <h:form id="leftTreeFormId">
            <p:scrollPanel mode="native">
                <p:tree id="leftTreeId" value="#{navigationBean.treeNodeRoot}" var="node" selectionMode="single" dynamic="true" cache="false">
                    <p:ajax event="expand" listener="#{navigationBean.onNodeExpand}"/>
                    <p:ajax event="collapse" listener="#{navigationBean.onNodeCollapse}" oncomplete="updateTreeNodes()"/>
                    <p:ajax event="select" listener="#{navigationBean.onNodeSelect}" oncomplete="updateTreeNodes()"/>
                    <p:treeNode>
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="empty">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                </p:tree>
            </p:scrollPanel>
        </h:form>
    </div>

</ui:composition>
