<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:po="http://primefaces.org/roma">

    <div class="layout-menu-container layout-menu-color">
        <div class="menu-scroll-content">
            <h:form id="menuFormId">
                <po:menu widgetVar="MainMenuWidget">
                    <p:menuitem id="menuHomeId" value="Home" icon="pi pi-fw pi-home" action="#{navigationBean.updatePage('home')}" ajax="false"/>
                    <p:menuitem id="menuMaintenanceId" value="Maintenance" icon="pi pi-fw pi-sliders-v" action="#{navigationBean.updatePage('maintenance')}" ajax="false"/>
                    <p:submenu id="monitoringId" label="Monitoring" icon="pi pi-fw pi-desktop">
                        <p:menuitem id="menuEchobasesId" value="Echobases" icon="fa fa-bullseye" action="#{navigationBean.updatePage('echobases')}" ajax="false"/>
                        <p:menuitem id="menuDevicesId" value="Devices" icon="fa fa-rss" action="#{navigationBean.updatePage('devices')}" ajax="false"/>
                    </p:submenu>
                    <p:menuitem id="menuSiteSetupId" value="Site Setup" icon="pi pi-fw pi-sliders-h" action="#{navigationBean.updatePage('site-setup')}" ajax="false"/>
                </po:menu>
            </h:form>
        </div>
    </div>
    
</ui:composition>