<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="shortcut icon" type="image/x-icon" href="#{resource['roma-layout/images/favicon.ico']}" />
        </f:facet>
        <title><ui:insert name="title">Service Delivery</ui:insert></title>
        <h:outputScript name="js/prism.js" library="roma-layout" />
        <h:outputScript name="js/layout.js" library="roma-layout" />
        <h:outputScript name="serviceDelivery.js" library="js"/>
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="layout-wrapper #{navigationBean.menuMode} layout-menu-color layout-topbar-color">
            <p:growl id="growlId" widgetVar="growl" for="growlMessages">
                <p:autoUpdate />
            </p:growl>
            <p:growl id="growlDetailedId" widgetVar="growlDetailed" for="growlDetailedMessages" showDetail="true">
                <p:autoUpdate />
            </p:growl>
            
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            <ui:include src="./right-panel.xhtml" />
            <ui:include src="./left-tree-panel.xhtml"/> 
            <ui:include src="./dialog.xhtml"/> 

            <div class="layout-main">  
                <ui:include src="./breadcrumb.xhtml"/>  
                <div class="layout-content" id="contentId"> 
                    <ui:insert name="content" />
                </div>

                <ui:include src="./footer.xhtml" />
                
                <div class="layout-mask modal-in"/>
            </div>

            <p:ajaxStatus styleClass="layout-ajax-loader">
                <f:facet name="start">
                    <i class="pi pi-spin pi-spinner layout-ajax-loader-icon" aria-hidden="true"/>
                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>
        </div>
       
        <h:outputStylesheet name="css/primeicons.css" library="roma-layout" />
        <h:outputStylesheet name="css/primeflex.min.css" library="roma-layout" />
        <h:outputStylesheet name="css/layout-uptime.css" library="roma-layout" />
    </h:body>

</html>
