<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="layout-topbar">
        <p:link styleClass="layout-right-panel-button layout-topbar-icon" href="#" rendered="#{navigationBean.rightPanelButton}">
            <i class="pi pi-ellipsis-v" />
        </p:link>

        <h:form id="topbarMenuChangeFormId">
            <p:commandLink styleClass="layout-menu-button layout-topbar-icon" action="#{navigationBean.changeMenuMode()}">
                <i class="pi pi-bars" />
            </p:commandLink>
        </h:form>

        <h:form id="topbarLogoFormId">
            <p:commandLink id="logo-link" action="#{navigationBean.updatePage('home')}" ajax="false">
                <p:graphicImage name="images/logos/Uptime_Solutions.png" library="roma-layout"/>
            </p:commandLink>
        </h:form>

        <h:form id="topbarControlFormId">
            <p:commandLink id="topbarControlAddBtnId" styleClass="layout-control">
                <i class="pi pi-plus-circle" />
            </p:commandLink>
            <p:overlayPanel id="topbarAddMenuOverlayId" for="topbarControlAddBtnId" widgetVar="topbarAddMenuOverlay">
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updateDialog('empty')}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()">
                    <p:outputLabel value="Empty Dialog"/>
                </p:commandLink>
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updateDialog('create-airbase')}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()">
                    <p:outputLabel value="Create Airbase"/>
                </p:commandLink>
            </p:overlayPanel>
            
            <p:commandLink id="topbarControlSearchBtnId" styleClass="layout-control" rendered="#{false}">
                <i class="pi pi-search" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlSettingsBtnId" styleClass="layout-control" rendered="#{false}">
                <i class="pi pi-cog" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlHelpBtnId" styleClass="layout-control" rendered="#{false}">
                <i class="pi pi-question-circle" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlProfileBtnId" styleClass="layout-control">
                <i class="fa fa-user"/>
                <div class="layout-profile-userinfo">
                    <p:outputLabel styleClass="layout-profile-name" value="#{accountManageBean.userName}"/>
                    <p:outputLabel styleClass="layout-profile-role" value="#{accountManageBean.role}"/>
                </div>
            </p:commandLink>
            <p:overlayPanel id="topbarProfileMenuOverlayId" for="topbarControlProfileBtnId" widgetVar="topbarProfileMenuOverlay">
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updateDialog('logout')}" oncomplete="PF('topbarProfileMenuOverlay').hide(); PF('defaultDlg').show()">
                    <i class="pi pi-lock"/>
                    <p:outputLabel value="Logout"/>
                </p:commandLink>
            </p:overlayPanel>
            
        </h:form>
    </div>

</ui:composition>