<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">Devices</ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            function displayDeviceInfo(index){
                $('#deviceResultFormId\\:indexId').val(index);
                $('#deviceResultFormId\\:hiddenBtnId').click();
            }
        </script>
        
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-devices-filter">
                    <h:form id="echobaseFilterFormId">
                        <p:panel styleClass="layout-devices-filter-panel">
                            <p:outputLabel for="deviceAccountFilterId" value="Account : " styleClass="block-label" />
                            <p:autoComplete id="deviceAccountFilterId" value="#{devicesBean.selectedCustomersVO}" scrollHeight="500" forceSelection="true" completeMethod="#{devicesBean.queryCustomerList}" queryDelay="100" cache="true" var="customer" itemLabel="#{customer.customerName}" itemValue="#{customer}" converter="customersVOConverter" dropdown="true">
                                <p:ajax event="itemSelect" listener="#{devicesBean.onAccountSelect()}" update="deviceSiteFilterId deviceResultFormId"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-devices-filter-panel">
                            <p:outputLabel for="deviceSiteFilterId" value="Site : " styleClass="block-label" />
                            <p:autoComplete id="deviceSiteFilterId" disabled="#{devicesBean.siteList.size() eq 0}" value="#{devicesBean.selectedSite}" completeMethod="#{devicesBean.querySiteList}" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}" converter="selectItemConverter" scrollHeight="500" forceSelection="true" queryDelay="100" cache="true" dropdown="true">
                                <p:ajax event="itemSelect" listener="#{devicesBean.onSiteSelect()}" update="deviceResultFormId"/>
                            </p:autoComplete>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-devices-content">
                    <h:form id="deviceResultFormId">
                        <h:inputHidden id="indexId"/>
                        <p:commandButton id="hiddenBtnId" icon="pi pi-info-circle" style="display: none;" oncomplete="PF('defaultDlg').show()"  action="#{devicesBean.infoSelectedDevice()}"/>
                        
                        <p:dataTable id="deviceTableId" var="deviceDiagn" value="#{devicesBean.mistDiagnosticsList}" 
                                     widgetVar="deviceTable" rowIndexVar="rowId" rowKey="#{deviceDiagn.index}"
                                     filteredValue="#{devicesBean.filteredDevices}" filterBy="#{devicesBean.filterBy}"  emptyMessage="No device found with given criteria."
                                     rendered="#{devicesBean.mistDiagnosticsList ne null and devicesBean.mistDiagnosticsList.size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" styleClass="datatable-layout-two datatable-layout-header-filters bottom-margin"  paginatorPosition="top">
                                    
                            <f:facet name="header">
                                <p:outputLabel value="Devices"/>
                            </f:facet>

                            <p:column field="baseStationHostName" headerText="BS Hostname" filterMatchMode="contains" sortBy="#{deviceDiagn.baseStationHostName}" style="width: 11%;" styleClass="table-column-title-left-column-border-right-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryBaseStationHostnameList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.baseStationHostName}"/>
                            </p:column>

                            <p:column field="echoDeviceId" headerText="Echo Device Id" sortBy="#{deviceDiagn.echoDeviceId}" filterMatchMode="contains"  style="width: 11%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryEchoDeviceIdList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.echoDeviceId}"/>
                            </p:column>

                            <p:column field="deviceId" headerText="Device Id" sortBy="#{deviceDiagn.deviceId}" filterMatchMode="contains"  style="width: 7%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryDeviceIdList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.deviceId}"/>
                            </p:column>

                            <p:column headerText="Chan" sortBy="#{deviceDiagn.mistlxChan}" filterBy="#{deviceDiagn.mistlxChan}"  filterMatchMode="contains" style="width: 5%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{deviceDiagn.mistlxChan}"/>
                            </p:column>

                            <p:column field="areaName" headerText="Area" sortBy="#{deviceDiagn.areaName}" filterMatchMode="contains"  style="width: 13%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryAreaList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.areaName}"/>
                            </p:column>

                            <p:column field="assetName" headerText="Asset" sortBy="#{deviceDiagn.assetName}" filterMatchMode="contains"  style="width: 8%;"  styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryAssetList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.assetName}"/>
                            </p:column>

                            <p:column field="pointLocationName" headerText="Pointlocation" sortBy="#{deviceDiagn.pointLocationName}" filterMatchMode="contains"  style="width: 11%;"  styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryPointLocationList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.pointLocationName}"/>
                            </p:column>

                            <p:column field="pointName" headerText="Point" sortBy="#{deviceDiagn.pointName}" filterMatchMode="contains"  style="width: 7%;"  styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryPointList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.pointName}"/>
                            </p:column>

                            <p:column headerText="BS Port" sortBy="#{deviceDiagn.baseStationPort}" filterBy="#{deviceDiagn.baseStationPort}"  filterMatchMode="contains" style="width: 7%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{deviceDiagn.baseStationPort}"/>
                            </p:column>

                            <p:column headerText="Battery" sortBy="#{deviceDiagn.mistlxBattery}" filterBy="#{deviceDiagn.mistlxBattery}"  filterMatchMode="contains" style="width: 7%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{deviceDiagn.mistlxBattery}"/>
                            </p:column>

                            <p:column field="formatedLastSample" headerText="Last Sample" sortBy="#{deviceDiagn.formatedLastSample}" filterMatchMode="contains"  style="width: 13%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{devicesBean.queryFormatedLastSampleList}" queryDelay="100" cache="true" onchange="PF('deviceTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <p:outputLabel value="#{deviceDiagn.formatedLastSample}"/>
                            </p:column>

                            <p:column headerText="Action"  style="width: 50px;" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandButton id="info-echo-diagn-icon" onclick="#{'displayDeviceInfo(\''.concat(deviceDiagn.index).concat('\')')}" icon="pi pi-info-circle"/>
                                <p:tooltip value="Info" for="info-echo-diagn-icon" position="left" showDelay="500"/>
                            </p:column>
                        </p:dataTable>

                        <!-- The below data table used for export CSV data only, This shouldn't be rendered -->

                        <p:dataTable id="mistDiagCSVExportTableId" var="deviceDiagn" value="#{devicesBean.mistDiagnosticsList}"  rendered="false">
                            <p:column headerText="Customer Acct">
                                <p:outputLabel value="#{deviceDiagn.customerAccount}"/>
                            </p:column>
                            <p:column headerText="Site Name">
                                <p:outputLabel value="#{deviceDiagn.siteName}"/>
                            </p:column>
                            <p:column headerText="Base Station Hostname">
                                <p:outputLabel value="#{deviceDiagn.baseStationHostName}"/>
                            </p:column>
                            <p:column headerText="Echo Device Id">
                                <p:outputLabel value="#{deviceDiagn.echoDeviceId}"/>
                            </p:column>
                            <p:column headerText="Device Id">
                                <p:outputLabel value="#{deviceDiagn.deviceId}"/>
                            </p:column>
                            <p:column headerText="Mistlx Chan">
                                <p:outputLabel value="#{deviceDiagn.mistlxChan}"/>
                            </p:column>
                            <p:column headerText="Area Name">
                                <p:outputLabel value="#{deviceDiagn.areaName}"/>
                            </p:column>
                            <p:column headerText="Asset Name">
                                <p:outputLabel value="#{deviceDiagn.assetName}"/>
                            </p:column>
                            <p:column headerText="Pointlocation Name">
                                <p:outputLabel value="#{deviceDiagn.pointLocationName}"/>
                            </p:column>
                            <p:column headerText="Point Name">
                                <p:outputLabel value="#{deviceDiagn.pointName}"/>
                            </p:column>
                            <p:column headerText="Basestation Port">
                                <p:outputLabel value="#{deviceDiagn.baseStationPort}"/>
                            </p:column>
                            <p:column headerText="Mistlx Battery">
                                <p:outputLabel value="#{deviceDiagn.mistlxBattery}"/>
                            </p:column>
                            <p:column headerText="Last Sample">
                                <p:outputLabel value="#{deviceDiagn.formatedLastSample}"/>
                            </p:column>
                            <p:column headerText="Mistlx Bleon" >
                                <p:outputLabel value="#{deviceDiagn.mistlxBleon}"/>
                            </p:column>
                            <p:column headerText="Mistlx Ctime">
                                <p:outputLabel value="#{deviceDiagn.mistlxCtime}"/>
                            </p:column>
                            <p:column headerText="Mistlx CtimeMod">
                                <p:outputLabel value="#{deviceDiagn.mistlxCtimeMod}"/>
                            </p:column>
                            <p:column headerText="Mistlx Dbg">
                                <p:outputLabel value="#{deviceDiagn.mistlxDbg}"/>
                            </p:column>
                            <p:column headerText="Mistlx Delta">
                                <p:outputLabel value="#{deviceDiagn.mistlxDelta}"/>
                            </p:column>
                            <p:column headerText="Mistlx Failcnt">
                                <p:outputLabel value="#{deviceDiagn.mistlxFailcnt}"/>
                            </p:column>
                            <p:column headerText="Mistlx Fpgaon">
                                <p:outputLabel value="#{deviceDiagn.mistlxFpgaon}"/>
                            </p:column>
                            <p:column headerText="Mistlx Fsamp">
                                <p:outputLabel value="#{deviceDiagn.mistlxFsamp}"/>
                            </p:column>
                            <p:column headerText="Mistlx Length">
                                <p:outputLabel value="#{deviceDiagn.mistlxLength}"/>
                            </p:column>
                            <p:column headerText="Mistlx Mincnt">
                                <p:outputLabel value="#{deviceDiagn.mistlxMincnt}"/>
                            </p:column>
                            <p:column headerText="Mistlx Pcorr">
                                <p:outputLabel value="#{deviceDiagn.mistlxPcorr}"/>
                            </p:column>
                            <p:column headerText="Mistlx Rssi">
                                <p:outputLabel value="#{deviceDiagn.mistlxRssi}"/>
                            </p:column>
                            <p:column headerText="Mistlx Temp">
                                <p:outputLabel value="#{deviceDiagn.mistlxTemp}"/>
                            </p:column>
                            <p:column headerText="Mistlx TotalMin">
                                <p:outputLabel value="#{deviceDiagn.mistlxTotalMin}"/>
                            </p:column>
                        </p:dataTable>

                        <div class="center-btn-div">
                            <p:commandButton value="Download CSV" ajax="false" rendered="#{devicesBean.mistDiagnosticsList ne null and devicesBean.mistDiagnosticsList.size() gt 0}">
                                <p:dataExporter type="csv" target="mistDiagCSVExportTableId" fileName="device"/>
                            </p:commandButton>
                        </div>

                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
