<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">Echobases</ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            function displayEchobasesInfo(index){
                $('#echobaseResultFormId\\:indexId').val(index);
                $('#echobaseResultFormId\\:hiddenBtnId').click();
            }
        </script>
        
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-echobases-filter">
                    <h:form id="echobaseFilterFormId">
                        <p:panel styleClass="layout-echobases-filter-panel">
                            <p:outputLabel for="echobaseAccountFilterId" value="Account: " styleClass="block-label" />
                            <p:autoComplete id="echobaseAccountFilterId" value="#{echobasesBean.selectedCustomersVO}" scrollHeight="500" forceSelection="true" completeMethod="#{echobasesBean.queryCustomerList}" queryDelay="100" cache="true" var="customer" itemLabel="#{customer.customerName}" itemValue="#{customer}" converter="customersVOConverter" dropdown="true">
                                <p:ajax event="itemSelect" listener="#{echobasesBean.onAccountSelect()}" update="echobaseSiteFilterId echobaseResultFormId"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-echobases-filter-panel">
                            <p:outputLabel for="echobaseSiteFilterId" value="Site: " styleClass="block-label" />
                            <p:autoComplete id="echobaseSiteFilterId" disabled="#{echobasesBean.siteList.size() eq 0}" value="#{echobasesBean.selectedSite}" completeMethod="#{echobasesBean.querySiteList}" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}" converter="selectItemConverter" scrollHeight="500" forceSelection="true" queryDelay="100" cache="true" dropdown="true">
                                <p:ajax event="itemSelect" listener="#{echobasesBean.onSiteSelect()}" update="echobaseResultFormId"/>
                            </p:autoComplete>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-echobases-content">
                    <h:form id="echobaseResultFormId">
                        <h:inputHidden id="indexId"/>
                        <p:commandButton id="hiddenBtnId" icon="pi pi-info-circle" style="display: none;" oncomplete="PF('defaultDlg').show()"  action="#{echobasesBean.infoOfSelectedEchoDiag()}"/>
                        
                        <p:dataTable id="echobaseTableId" var="echoDiagn" value="#{echobasesBean.echoDiagnosticsList}"  
                                     rowIndexVar="rowId" rowKey="#{echoDiagn.index}" widgetVar="echobaseTable"
                                     filteredValue="#{echobasesBean.filteredEchobases}" emptyMessage="No echobase found with given criteria."
                                     rendered="#{echobasesBean.echoDiagnosticsList ne null and echobasesBean.echoDiagnosticsList.size() gt 0}"
                                     paginator="true" resizableColumns="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" paginatorPosition="top"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" styleClass="datatable-layout-two datatable-layout-header-filters bottom-margin">

                            <f:facet name="header">
                                <p:outputLabel value="Echobases"/>
                            </f:facet>

                            <p:column field="baseStationHostName" headerText="Base Station Hostname" filterMatchMode="contains" sortBy="#{echoDiagn.baseStationHostName}" style="width: 30%;" styleClass="table-column-title-left-column-border-right-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{echobasesBean.queryBaseStationHostnameList}" queryDelay="100" cache="true" onchange="PF('echobaseTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <h:outputText value="#{echoDiagn.baseStationHostName}" />
                            </p:column>
                            
                            <p:column field="deviceId" headerText="Device Id" filterMatchMode="contains" sortBy="#{echoDiagn.deviceId}" style="width: 20%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{echobasesBean.queryDeviceIdList}" queryDelay="100" cache="true" onchange="PF('echobaseTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <h:outputText value="#{echoDiagn.deviceId}" />
                            </p:column>
                            
                            <p:column field="echoFw" headerText="Echo Fw" filterMatchMode="contains" sortBy="#{echoDiagn.echoFw}" style="width: 20%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{echobasesBean.queryEchoFwList}" queryDelay="100" cache="true" onchange="PF('echobaseTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <h:outputText value="#{echoDiagn.echoFw}" />
                            </p:column>
                            
                            <p:column field="formatedLastUpdate" headerText="Last Update" filterMatchMode="contains" sortBy="#{echoDiagn.formatedLastUpdate}" style="width: 30%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <f:facet name="filter">
                                    <p:autoComplete scrollHeight="350" completeMethod="#{echobasesBean.queryFormatedLastUpdateList}" queryDelay="100" cache="true" onchange="PF('echobaseTable').filter()" styleClass="filters-width-one"/>
                                </f:facet>
                                <h:outputText value="#{echoDiagn.formatedLastUpdate}" />
                            </p:column>

                            <p:column headerText="Action" style="width: 50px;" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandButton id="info-echo-diagn-icon" onclick="#{'displayEchobasesInfo(\''.concat(echoDiagn.index).concat('\')')}" icon="pi pi-info-circle"/>
                                <p:tooltip value="Info" for="info-echo-diagn-icon" position="left" showDelay="500"/>
                            </p:column>

                        </p:dataTable>

                        <!-- Below data table is used for exporting CSV, This shouldn't be rendered. -->

                        <p:dataTable id="echobaseCSVExporterTableId" var="echoDiagn" value="#{echobasesBean.echoDiagnosticsList}" rendered="false">
                            <p:column headerText="Customer Acct">
                                <p:outputLabel value="#{echoDiagn.customerAccount}"/>
                            </p:column>
                            <p:column headerText="Site Name">
                                <p:outputLabel value="#{echoDiagn.siteName}"/>
                            </p:column>
                            <p:column headerText="Base Station Hostname">
                                <p:outputLabel value="#{echoDiagn.baseStationHostName}"/>
                            </p:column>
                            <p:column headerText="Device Id">
                                <p:outputLabel value="#{echoDiagn.deviceId}"/>
                            </p:column>
                            <p:column headerText="Echo Fw">
                                <p:outputLabel value="#{echoDiagn.echoFw}"/>
                            </p:column>
                            <p:column headerText="Echo Backlog">
                                <p:outputLabel value="#{echoDiagn.echoBacklog}"/>
                            </p:column>
                            <p:column headerText="Echo Datasets">
                                <p:outputLabel value="#{echoDiagn.echoDatasets}"/>
                            </p:column>
                            <p:column headerText="Echo PowLevel">
                                <p:outputLabel value="#{echoDiagn.echoPowLevel}"/>
                            </p:column>
                            <p:column headerText="Echo Powerfault">
                                <p:outputLabel value="#{echoDiagn.echoPowerfault}"/>
                            </p:column>
                            <p:column headerText="Echo RadioFail">
                                <p:outputLabel value="#{echoDiagn.echoRadioFail}"/>
                            </p:column>
                            <p:column headerText="Echo Reboot">
                                <p:outputLabel value="#{echoDiagn.echoReboot}"/>
                            </p:column>
                            <p:column headerText="Echo Restart">
                                <p:outputLabel value="#{echoDiagn.echoRestart}"/>
                            </p:column>
                            <p:column headerText="Echo Terr">
                                <p:outputLabel value="#{echoDiagn.echoTerr}"/>
                            </p:column>
                            <p:column headerText="Last Update">
                                <p:outputLabel value="#{echoDiagn.formatedLastUpdate}"/>
                            </p:column>
                        </p:dataTable>
                        
                        <div class="center-btn-div">
                            <p:commandButton value="Download CSV" ajax="false" rendered="#{echobasesBean.echoDiagnosticsList ne null and echobasesBean.echoDiagnosticsList.size() gt 0}">
                                <p:dataExporter type="csv" target="echobaseCSVExporterTableId" fileName="echobase"/>
                            </p:commandButton>
                        </div>
                        
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
