<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">Home</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-home">
                    <h4>Home</h4>
                    <p>Home</p>
                    <p:commandButton type="button" icon="pi pi-home" value="Home" />
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
