<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">Maintenance</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-monitoring">
                    <h4>Maintenance</h4>
                    <p>Maintenance</p>
                    <p:commandButton type="button" icon="pi pi-home" value="Maintenance" />
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
