.layout-breadcrumb { 
    .top-layout-breadcrumb {
        border: none;
        border-top: 1px solid #ebebef;
        border-bottom: 1px solid #ebebef;
        border-radius: 0px;
        
        .ui-breadcrumb-items {
            li {
                .ui-menuitem-link {
                    .ui-menuitem-icon {
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}