.layout-echobases-filter { 
    .layout-echobases-filter-panel {
        display: inline-block;
        padding: 0;
        
        .ui-panel-content {
            border: none;
            border-radius: 0;
            padding: 1px 5px 1px 0;
            text-align: right;
            
            .ui-outputlabel {
                display: inline-block;
                width: 127px;
                float: left;
                height: 23px;
                line-height: 23px;
                margin-right: 5px;
            }

            .ui-autocomplete {
                margin: 0 1px;;
                
                .ui-inputfield {
                    box-shadow: none !important;
                    width: 200px;
                    height: 23px;
                }
                
                .ui-autocomplete-dropdown {
                    width: 19.5px;
                    height: 23px;
                    background-color: white;
                    color: #495057;
                    border: 1px solid #ced4da;
                    border-left: none;
                    box-shadow: none !important;
                    
                    .ui-button-text {
                        padding: 0;
                    }
                    
                    &.ui-state-hover {
                        background-color: $primaryColor;
                        color: $primaryTextColor;
                        border: 1px solid $primaryColor;
                        border-left: none;
                    }
                    
                    &.ui-state-focus {
                        background-color: $primaryLightColor;
                        color: $primaryTextColor;
                        border: 1px solid $primaryLightColor;
                        border-left: none;
                    }
                    
                    &.ui-state-active {
                        background-color: $primaryLightColor;
                        color: $primaryTextColor;
                        border: 1px solid $primaryLightColor;
                        border-left: none;
                    }
                }
            }
        }
    } 
}

.layout-echobases-content {
    .ui-datatable {
        &.datatable-layout-two {
            .ui-datatable-data {
                > tr {
                    > td {
                        .ui-commandlink {
                            min-width: unset;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}