.layout-footer {
    padding: 1.5em 1.5em 0.5em 1.5em;
    background-color: $footerBgColor;
    border-top: 1px solid $footerBorderColor;
    border-bottom: 1px solid $footerBorderColor;
    @include flex();
    @include flex-align-center();
    @include flex-justify-between();   
}
