.layout-left-tree-panel {
    width: 288px;
    background-color: $treeBgColor;
    border-right: solid 1px $treeBorderColor;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    
    .ui-scrollpanel {
        position: absolute;
        bottom: 0;
        height: -webkit-fill-available;
        width: 287px;
        border: none;
        padding: 0;
        margin-top: 70px;
    }
    
    .ui-tree {
        border: none;
        padding: 10px 0 0 0;
        
        .ui-tree-container {
            .ui-treenode {
                padding: 0;
                
                .ui-treenode-content {
                    display: block;
                    
                    .ui-treenode-leaf-icon {
                        width: 15px;
                        height: 0;
                        margin: 0;
                    }
                    
                    .ui-tree-toggler {
                        margin: 0px;
                        font-size: 10px;
                        color: $treeNodeTextColor;
                        width: 15px;
                    }
                    
                    .ui-treenode-label {
                        border: 1px solid white;
                        border-radius: 0;
                        width: fit-content;;
                        background-color: $treeBgColor; 
                        color: $treeNodeTextColor; 
                        padding: 3px;
                        
                        &.ui-state-hover {
                            border: 1px solid $treeNodeBgHoverColor;
                            background-color: $treeNodeBgHoverColor; 
                            color: $treeNodeTextHoverColor; 
                        }
                        
                        &.ui-state-highlight {
                            border: 1px solid $treeNodeBgFocusColor;
                            background-color: $treeNodeBgFocusColor; 
                            color: $treeNodeTextFocusColor; 
                        }
                    }
                    
                    &.treenode-selected-path {
                        .ui-treenode-label {
                            border: 1px solid $treeNodeBgFocusColor; 

                            &.ui-state-hover {
                                border: 1px solid $treeNodeBgHoverColor;
                            }

                            &.ui-state-highlight {
                                border: 1px solid $treeNodeBgFocusColor;  
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-left-tree-panel-button {
    display: block;
    border: 1px solid #ebebef;
    border-left: none;
    z-index: 999;
    position: absolute;
    top: 400px;
    background-color: $treeActiveBtnBgColor;
    color: $treeActiveBtnIconColor !important;
    padding: 5px 0px;
    
    &:hover {
        background-color: $treeActiveBtnBgHoverColor;
        color: $treeActiveBtnIconHoverColor !important;
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-left-tree-panel {
        display: none;
        
        &.layout-left-tree-panel-active {
            display: none;
        }
    } 
    
    .layout-left-tree-panel-button {
        display: none;
    }
}

