.layout-wrapper {
    .layout-topbar {
        height: 70px;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 12px 20px;
        @include clearfix();
        @include shadow(0 1px 10px 0 rgba(0, 0, 0, 0.10));

        #topbarMenuChangeFormId {
            display: inline-block;
            
            .layout-menu-button {
                display: inline-block;
                vertical-align: middle;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                @include border-radius(50%);
                @include transition(background-color $transitionDuration);

                i {
                    @include transition(color $transitionDuration);
                    line-height: inherit;
                    font-size: 30px;
                }
            }
        }

        #topbarLogoFormId {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1.5em;
            
            .ui-commandlink {
                display: block;
                height: 45px;
                
                img {
                    height: 45px;
                }
            }
        }

        #topbarControlFormId {
            display: inline-block;
            float: right;
            
            .ui-commandlink {
                &.layout-control {
                    display: inline-block;
                    width: fit-content;
                    margin: 11px 0 0 5px;

                    i {
                        font-size: 2em;
                    }

                    &[id$=":topbarControlProfileBtnId"] {
                        @include transition(background-color $transitionDuration);
                        @include transition(color $transitionDuration);
                        text-decoration: none;
                        padding: 0 16px 0 0;
                        margin: 0px;
                        float: right;

                        .layout-profile-userinfo {
                            text-align: left;
                            display: inline-block;
                            margin: 5px 0 0 0;
                            vertical-align: top;

                            .layout-profile-name {
                                margin-top: 1px;
                                font-size: 14px;
                                display: block;
                            }

                            .layout-profile-role {
                                font-size: 12px;
                                margin-top: 2px;
                                display: block;
                            }
                        }

                        > i {
                            &.fa {
                                width: fit-content;
                                margin: 11px 1px 0 5px;
                            }
                        }
                    }
                }
            }
            
            .ui-overlaypanel {
                position: fixed;
                background: $menuBgColor;
                top: 70px !important;
                left: unset !important;
                width: 181px;
                border-radius: 0;
                @include shadow(0 0px 10px 0 rgba(0, 0, 0, 0.16));
                
                .ui-overlaypanel-content{
                    padding: 0;
                    
                    .ui-commandlink {
                        display: block;

                        i {
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
                            margin-left: 15px;
                        }

                        .ui-outputlabel {
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
                            margin-left: 10px;
                        }
                    }
                }
                
                &[id$=":topbarAddMenuOverlayId"] {
                    right: unset;
                }
                
                &[id$=":topbarProfileMenuOverlayId"] {
                    right: 0;
                }
            }
        }

        .layout-right-panel-button {
            float: right;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            @include border-radius(50%);
            @include transition(background-color $transitionDuration);
            
            i {
                @include transition(color $transitionDuration);
                font-size: 1.5em;
                vertical-align: middle;
            }
        }
    }
  
    &.layout-topbar-color {
        .layout-topbar {
            background-color: $topBarBGColor !important;

            .layout-topbar-icon {
                background-color: $topBarIconBGColor !important;
                color: $topBarIconTextColor !important;

                &:hover {
                    background-color: $topBarIconBGHoverColor !important;
                    color: $topBarIconTextHoverColor !important;
                }
            }
                
            .layout-control {
                color: $topBarUserTextColor !important;

                &:hover {
                    color: $topBarUserTextHoverColor !important;
                }
            }

            .user-profile {
                .layout-profile-name, .layout-profile-role, .fa {
                    color: $topBarUserTextColor !important;
                }

                a:hover {
                    .layout-profile-name, .layout-profile-role, .fa {
                        color: $topBarUserTextHoverColor !important;
                    }
                }
            }
            
            .topbar-menu-element {
                i {
                    color: $menuitemIconColor;
                }

                .ui-outputlabel {
                    color: $menuitemTextColor;
                }

                &:hover {
                    background-color: $menuitemHoverBgColor;

                    i {
                        color: $menuitemIconHoverColor;
                    }

                    .ui-outputlabel {
                        color: $menuitemTextHoverColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-wrapper {
        .layout-topbar {
            height: 70px;
            
            #topbarControlFormId {
                .ui-commandlink {
                    &.layout-control {
                        &[id$=":topbarControlProfileBtnId"] {
                            padding: 0;

                            .layout-profile-userinfo {
                                display: none;
                            }

                            i {
                                &.fa {
                                    margin: 11px 5px 0 5px;
                                }
                            }
                        }
                    }
                }
                .ui-overlaypanel {
                    right: 0;
                }
            }
        }
    }
}